
@if(data().length > 0) {
<div class="w-full h-64 flex items-end justify-around space-x-2">
  @for (item of data(); track item.name) {
    <div class="flex-1 flex flex-col items-center">
      <div class="w-full h-full flex items-end">
        <div 
            class="w-full bg-emerald-300 rounded-t-md hover:bg-emerald-400 transition-colors"
            [style.height]="getBarHeight(item.value)"
            [title]="item.value.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })">
        </div>
      </div>
      <span class="text-xs text-gray-500 mt-2 truncate">{{ item.name }}</span>
    </div>
  }
</div>
} @else {
  <div class="w-full h-64 flex items-center justify-center text-gray-400">
    Sem dados para exibir.
  </div>
}
